mixin prod-item(i,t,pr, bg='#FEE794',color='#000000',  l='Б/У' , like, old)
	+b.prod-item&attributes(attributes)
		+e.favorite(class= like)
			+icon("favorites")
		+e.img-wrap(href="#")
			+img(`img/prod-${i}.jpg`)
			+e.play
				+icon("play")
				+e.play-wrap У товара есть видео
		+e.caption
			+e.price= pr
				+e.label(style=`background: ${bg}; color:${color}`)= l
			+e.title(href="#")= t
			if old
				p
					span.text-secondary.d-none.d-sm-inline Снято с автомобиля
					!= old
					
				p
					span.text-secondary Склад
					| Люберцы
			else
				p
					span.text-secondary.d-none.d-sm-inline Номер и производитель
					| 4B5827302F VAG
					
				p
					span.text-secondary Склад
					| Люберцы
			+e.btn(href="#")


mixin catalogSearch()
	+b.sCatalogSearch
		.container
			+b.form-wrap
				.row
					.col-lg-3
						+input("Выберите марку",'select')
							//- - for (var x = 1; x < 10; x++)
								//- option(value=` placeholder ${x}`)= `placeholder ${x}`
					.col-lg-3
						+input("Выберите модель",'select')(disabled)
					.col-lg-3
						+input("Выберите поколение",'select')(disabled)
					.col-lg-3
						+e.btn.btn.btn-primary.w-100(type="submit") Показать запчасти
			+e.body.d-none.d-lg-block
				+e.logo-wrap
					.row
						- for (var x = 1; x < 11; x++)
							.col-auto
								a(href="#")
									+img(`img/logo-${x}.png`)
				+e.list
					- let list = ['Acura','Audi','BMW','Cadillac','Chery' ,'Chevrolet','Citroen','Daewoo','Datsun','Fiat','Ford','Geely','Genesis','Great Wall','Haval','Honda','Hyundai','Infiniti','Jaguar','Jeep','Kia','Land Rover','Lexus','Lifan','Mazda','Mercedes-Benz','Mini','Mitsubishi','Nissan','Opel','Peugeot','Porsche','Renault','Skoda','Ssang Yong','Subaru','Suzuki','Toyota','Volkswagen','Volvo','Лада','УАЗ']
					each item in list
						+e.item= item
mixin sCatalogBody(h2)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		if h2
			+b.section-title.container
				h2= h2
		block
	// end sCatalog
mixin sCatalog(h2)
	+sCatalogBody(h2)
		+catalogSearch()
mixin sCatalog2(h2)
	+sCatalogBody(h2)
		+e.container.container
			+e.slider--js.swiper
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide
							+prod-item(1,"Дверь правая задняя ",'14 000 ₽', '#36B555', '#fff', 'Новая', 'active')
						+e.slide.swiper-slide 
							+prod-item(2,"Крыло правое переднее",'12 000 ₽', bg='#FEE794',color='#000000', 'Б/У', '', 'BMW X7 G07')
						+e.slide.swiper-slide
							+prod-item(3,"Накладка крышки багажника",'2 500 ₽', bg='#FEE794',color='#000000', 'Б/У', '', 'Kia Optima 4 JF')
						+e.slide.swiper-slide
							+prod-item(4,"Решетка радиатора",'4 000 ₽', bg='#FEE794',color='#000000', 'Б/У', '', 'Kia Rio 3 QB')

			+arrow("arrow")
			.swiper-pagination